@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WorldFlags!</h1>
    <p>We have the best flags around! Click <a>here</a>to check out our catalogue</p>
</div>
